.important_links {
  list-style: none;
}
.footer_background_color {
  background-color: #15103b;
  color: white;
}
.footer_quick_links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 426px) {
  .footer_quick_links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
  }
}
